:root 
{
--primary_dark: #4A0000;
--primary_light: #FFD4D4;
--primary: #da2020;
--primary-border: #8f3232;
--secondary: #e67373;
--white: #fff;
--light: #ECECEC;
--char: '/assets/images/char.png';

--original_burger_primary: #D5A840;
--original_burger_dark: #8B6C24;
--original_burger_light: #FFF2BC;
}