@font-face {
    font-family: Raleway-regular;
    src: url('~src/assets/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: Bebasneue-regular;
    src: url('~src/assets/fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: Road-rage;
    src: url('~src/assets/fonts/Road_Rage.otf');
}
@font-face {
    font-family: Monoton-Regular;
    src: url('~src/assets/fonts/Monoton-Regular.ttf');
}

@font-face {
    font-family: LongJohnson;
    src: url('~src/assets/fonts/LongJohnson.otf');
}

@font-face {
    font-family: SecularOne-Regular;
    src: url('~src/assets/fonts/Bangers-Regular.ttf');
}

@font-face {
    font-family: ShocWave;
    src: url('~src/assets/fonts/Shockwave.otf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('~src/assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: Poppins-Regular;
    src: url('~src/assets/fonts/Poppins-Regular.ttf');
}